<form id ="form" [formGroup]="feedBackForm">
    <mat-stepper  #stepper>
        <mat-step formGroupName="personalDetail" [stepControl] ="feedBackForm.get('personalDetail')! ">
            <ng-template matStepLabel>Personal Details</ng-template>
            <app-personal-details [form]="feedBackForm" ></app-personal-details>
        </mat-step>
        <!--label----->
        <mat-step formGroupName="queOne" [stepControl] ="feedBackForm.get('queOne')! " label ="Fill out your Address"> 
            <ng-template matStepLabel>Interview Time & Manner</ng-template>
            <app-que-one [form]="feedBackForm" ></app-que-one>
        </mat-step>
       <!---label2-->
       <mat-step formGroupName="queTwo" [stepControl] ="feedBackForm.get('queTwo')! " label ="Fill out your que 2"> 
        <ng-template matStepLabel>Interview Discussion on Time</ng-template>
        <app-que-two [form]="feedBackForm" ></app-que-two>
    </mat-step>
 <!---label3-->
 <mat-step formGroupName="queThree" [stepControl] ="feedBackForm.get('queThree')! " label ="Fill out your que 3"> 
    <ng-template matStepLabel>Post Appiled To</ng-template>
    <app-que-three [form]="feedBackForm" ></app-que-three>
</mat-step>
    
<!---label3-->
<mat-step formGroupName="queFour" [stepControl] ="feedBackForm.get('queFour')! " label ="Fill out your que 4"> 
    <ng-template matStepLabel>Discussed Topics</ng-template>
    <aapp-que-four [form]="feedBackForm" ></aapp-que-four>
</mat-step>


<!---label3-->
<mat-step formGroupName="queFive" [stepControl] ="feedBackForm.get('queFive')! " label ="Fill out your que 5"> 
    <ng-template matStepLabel>Improvement in Hiring</ng-template>
    <app-que-five [form]="feedBackForm" ></app-que-five>
</mat-step>
    <!---label3-->
<mat-step>
    <ng-template  matStepLabel >Done</ng-template>
    <p>Thanks For the Review </p>
    <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
    </div>

</mat-step>
    </mat-stepper>
</form>