<div class="form-control" [formGroup] ="form" >
    <div formGroupName ="queFour">
        <div><h2>What topics were discussed during the interview?</h2></div>
        <br>
        <mat-form-field  appearance ="outline" >
            <mat-label>Topics</mat-label>
            <mat-select formControlName ="qFour" (click)="loadRepsonse()" multiple>
            <mat-option *ngFor ="let topic of topicList" [value]="topic">{{topic}}</mat-option>
        </mat-select>
        </mat-form-field>
    </div>

    <div class="example-button-row">
        <button mat-flat-button  color ="back" matStepperPrevious >Back </button>
        <button mat-flat-button color="next" matStepperNext>Next</button>
    </div>

</div>