<div class="form-control" [formGroup] ="form" >
    <div formGroupName ="queThree">

        <mat-form-field  appearance ="outline" >
            <mat-label>Select an option</mat-label>
            <mat-select formControlName="qThree" required disableRipple>
                <mat-option value ="Software Engineering"> Software Engineering </mat-option>
                <mat-option value ="Research Engineering">  Research Engineering</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="example-button-row">
        <button mat-flat-button  color ="back" matStepperNext >Back </button>
        <button mat-flat-button color="next" matStepperNext>Next</button>
    </div>
</div>