<div class="form-control" [formGroup] ="form" >
    <div formGroupName ="personalDetail">
        <mat-form-field  appearance ="outline" >
            <mat-label>User name</mat-label>
            <div>
            <input matInput formControlName ="userName" placeholder="user Name" class="form-control" maxlength="20" required>
            </div>
            
        </mat-form-field>
    </div>

    <div formGroupName ="personalDetail">
        <mat-form-field  appearance ="outline" >
            <mat-label>Email</mat-label>
            <input matInput formControlName ="email" placeholder="email" required>
            <mat-hint>Please enter Valid Email Id</mat-hint>
        </mat-form-field>
   
    </div>
     
    <div formGroupName ="personalDetail">
        <mat-form-field  appearance ="outline" >
            <mat-label>Phone no</mat-label> 
            <input matInput formControlName ="phoneNo" placeholder="phone no" required >
            <mat-hint>Please enter Valid Phone Number</mat-hint>
        </mat-form-field>
    </div>

    <div class="example-button-row">
        <button mat-flat-button color="next" matStepperNext>Next</button>
    </div>
</div>